<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@HomepageBundle/Resources/public/less/bootstrap.less' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        {% stylesheets '@HomepageBundle/Resources/public/less/style.less' %}
            <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts '@HomepageBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
